@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Lilita+One&family=Lobster&family=Lobster+Two:wght@400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
  cursor: none;
  outline: none;
}

html {
  color-scheme: light dark;
}

:root {
  --body-cl: #1E1E1E;
  --nex-cl: #000000;
  --primary-cl: darkorange;
  --text-cl: #fff;
}
body {
  background: var(--body-cl);
}

.gen-container {
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media(min-width: 600px) {
  .container {
    padding: 50px 5%;
  }
}

/***** LOGO SECTION *****/
.logo {
  text-align: center;
}

.logo h1 {
  font-size: 38px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--primary-cl);
  color: #fff;
}

.folio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--text-cl);
  padding: 0 10px;
}

.folio-content .pic {
  position: relative;
  min-width: 280px;
  height: 280px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--primary-cl);
}

.folio-content .pic .my-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.folio-content .pic .profile-img {
  width: 200px;
}

.folio-content .icon-pack {
  position: absolute;
  width: 100%;
  height: 100%;
}

.folio-content .icon-pack .icon2 {
  position: absolute;
  right: -30px;
  top: 10px;
  border-radius: 10px;
}

.folio-content .icon-pack .icon2 div {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 5px;
}

.folio-content .icon-pack .icon2 div img {
  width: 12px;
  margin-right: 5px;
}

.folio-content .icon-pack .icon2 div p {
  font-size: 12px;
}

.folio-content .icon-pack .icon3 {
  position: absolute;
  left: -30px;
  top: 10%;
  border-radius: 10px;
  padding: 5px;
}

.folio-content .icon-pack .icon3 div:first-child {
  display: flex;
  align-items: center;
  justify-items: center;
}

.folio-content .icon-pack .icon3 img {
  width: 15px;
  margin-right: 5px;
}

.folio-content .icon-pack .icon3 p {
  padding: 0;
  font-size: 12px;
}

.folio-content .icon-pack .icon4 {
  position: absolute;
  left: -30px;
  bottom: 30px;
  border-radius: 10px;
  padding: 5px;
}

.folio-content .icon-pack .icon4 div:first-child {
  display: flex;
  align-items: center;
  justify-items: center;
}

.folio-content .icon-pack .icon4 img {
  width: 15px;
  margin-right: 5px;
}

.folio-content .icon-pack .icon4 p {
  padding: 0;
  font-size: 12px;
}

.folio-content .icon-pack .icon5 {
  position: absolute;
  right: -35px;
  bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.folio-content .icon-pack .icon5 div:first-child {
  display: flex;
  align-items: center;
  justify-items: center;
}

.folio-content .icon-pack .icon5 img {
  width: 15px;
  margin-right: 5px;
}

.folio-content .icon-pack .icon5 p {
  padding: 0;
  font-size: 12px;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
  background-color: var(--nex-cl);
}

.folio-content .icon-pack img:nth-child(4) {
  right: 15px;
  bottom: 20px;
  width: 40px;
  display: none;
}

.folio-content .icon-pack img:nth-child(5) {
  bottom: 0;
  left: 10px;
  width: 40px;
  display: none;
}

.folio-text {
  text-align: center;
  padding: 15px 0;
}

.folio-text h2 {
  font-weight: 300;
}

.folio-content h2 span {
  color: var(--primary-cl);
  /*font-family: 'Pacifico', cursive;*/
  font-weight: 400;
  font-size: 28px;
  font-family: 'Pacifico', cursive;
}

.folio-text p {
  font-size: 18px;
  font-weight: lighter;
}

.folio-content button {
  padding: 5px;
  border-radius: 50px;
  height: 50px;
  width: 120px;
  margin-top: 15px;
  font-size: 17px;
  color: #000;
  background-color: var(--primary-cl);
  border: none;
}

.folio-content .folio-text .social {
  justify-content: center;
  display: flex;
  padding: 5px;
  width: 100%;
}

.folio-text .social span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.folio-text .social i {
  font-size: 22px;
  color: var(--text-cl);
  transition: 0.5s ease;
}

.folio-text .social span:hover {
  background-color: var(--primary-cl)
}

.folio-text .social span:hover i {
  color: var(--text-dcl);
}

@media(min-width: 600px) {
  .folio-content {
    flex-wrap: nowrap;
  }

  .folio-content .pic {
    margin: 0 50px;
  }
}

/*------------About Section----------*/
.about-section {
  background-image: url('asset/profile-image.png');
  background-position-x: -100px;
  background-position-y: 70%;
  background-repeat: no-repeat;
  background-size: 250px;
  width: 100%;
  padding: 50px 20px;
}

.about-section h2 {
  font-size: 40px;
  padding: 20px 10px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--primary-cl);
  color: #fff;
}

.about-section h2 span {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--primary-cl);
  color: #fff;
}

.about {
  padding: 15px 0;
}

.about p {
  position: relative;
  font-size: 15px;
  text-align: center;
  padding: 20% 15px;
  border-radius: 10px;
  color: var(--text-cl);
  background-color: rgba(0, 0, 0, 0.7)
}

.about p span {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-cl);
}
.about p span:first-child{
  left: 10%;
  top: 5%;
}
.about p span:last-child{
  right: 10%;
  bottom: -5%;
}
@media(min-width: 600px) {
  .about-section {
    background-position-x: 80px;
    padding: 30px 20% 30px 30%;
  }
}

/*------------Service Section----------*/
.service-section {
  padding: 20px 10px;
}

.service .service-info {
  padding-left: 10px;
}

.service .service-info h1 {
  font-size: 2rem;
  color: var(--text-cl);
}

.service-info h1 span {
  color: var(--primary-cl);
  font-family: 'Pacifico', cursive;
}

.service-info h3 {
  color: var(--primary-cl);
}

.service-info p {
  padding: 15px 0;
  font-size: 15px;
  color: var(--text-cl);
}

.service-info button {
  padding: 15px;
  width: 150px;
  border-radius: 20px;
  color: #000;
  background-color: var(--primary-cl);
  border: none;
  margin: 10px 0;
}

.service ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.service ul li {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  background-color: var(--body-cl);
  border: 1px solid var(--primary-cl);
}

.service ul li h3 {
  color: var(--primary-cl);
  padding: 10px;
}

.service ul li p {
  font-size: 16px;
  color: var(--text-cl);
}

@media(min-width: 600px) {
  .service-section {
    padding: 20px 10%;
  }

  .service-info {
    width: 60%;
  }

  .service ul {
    justify-content: space-between;
  }

  .service ul li {
    width: 31%;
  }
}

/*---------------Skill Section -----------*/
.skill-section {
  width: 100%;
  padding: 40px 10px;
}

.skill-section h2 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--primary-cl);
  color: #fff;
}

.skill-sec {
  width: 100%;
}

.skill-sec ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  padding-top: 20px;
}

.skill-sec ul li {
  width: 22%;
  text-align: center;
  margin: 5px;
  color: var(--text-cl);
}

.skill-sec ul li div {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  max-height: 100px;
  border-radius: 10px;
  background-color: var(--nex-cl);
}

.skill-sec ul li div img {
  width: 50px;
  padding: 10px 0;
}

@media (min-width: 600px) {
  .skill-section {
    padding: 30px 15%;
  }
}

.great {
  padding: 20px 15px;
}

.great h1 {
  color: var(--text-cl);
}

.great h1 span {
  color: var(--primary-cl);
  font-family: 'Pacifico', cursive
}
.great p{
  font-size: 5rem;
  text-align: center;
}
.great p i{
  color: var(--primary-cl);
}
@media (min-width: 600px) {
  .great {
    padding: 20px 20%;
  }
}

/*-------------Latest Project------------*/
.project-section {
  width: 100%;
  padding: 20px 10px;
}

.project-section h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: var(--primary-cl);
  color: #fff;
}

.projects {
  padding-top: 10px;
}

.project-section img {
  width: 100%;
  border-radius: 10px;
}

.project-section .projects ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.project-section .projects ul li {
  width: 100%;
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  color: var(--text-cl);
  background-color: var(--nex-cl)
}
.projects ul li h3,
p {
  padding: 8px 0;
}

@media(min-width: 600px) {
  .project-section {
    padding: 20px 10%;
  }

  .project-section .projects ul li {
    width: 32%;
  }
}
.project-portfolio{
  padding: 10px;
}
/*-----------Contact section---------*/
.contact-section {
  padding: 10px;
}

.connect {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 191, 137, 1);
  /*background-image: url('asset/contact.png');
  background-position-x: -20px;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: 200px;*/
}

.connect div {
  text-align: center;
  padding: 15px 0;
  color: #000;
}

.connect div button {
  width: 150px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #000;
  background-color: var(--primary-cl);
  border: none;
}

.connect2 {
  text-align: center;
  padding: 20px 0;
  padding-top: 40px;
  color: var(--text-cl);
}

.connect2 h4 {
  padding: 8px;
}

.connect2 h3 {
  font-weight: 300;
}

.connect2 p {
  font-weight: lighter;
}

.connect2 .social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
}

.connect2 .social span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  border-radius: 10px;
  transition: 0.5s ease;
  background-color: rgba(255, 191, 137, 1);
}
.connect2 .social i {
  font-size: 22px;
  color: #000;
  transition: 0.5s ease;
}
@media(min-width: 600px) {
  .contact-section {
    padding: 20px 15%;
  }
}

/*******  NAVIGATION AREA AND NAV BUTTON.  *******/
.navigation {
  position: fixed;
  height: 100%;
  width: 60px;
  top: 0;
  right: 0;
}

.nav-bar {
  height: 100%;
  overflow: scroll;
}

.nav-bar .nav-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-bar .nav-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  height: 0;
  width: 100%;
  background-color: var(--nex-cl);
  overflow: scroll;
  transition: 0.2s ease;
}

/*******Nav click event *******/
body.open-nav .nav-bar .nav-content ul {
  height: 80%;
}

.nav-content ul li {
  width: 100%;
  border-right: 2px solid var(--primary-cl);
  transition: 0.2s ease;
}

.nav-content ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  color: var(--primary-cl);
}
.nav-content ul li:hover a {
  background-color: var(--primary-cl);
  color: var(--text-dcl);
}
.nav-content ul li a p {
  font-size: 12px;
}
.nav-content ul li a span {
  margin-bottom: 3px;
  font-size: 18px;
}
.navigation .nav-bar .nav-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--primary-cl);
  color: #000;
  transition: 0.5s ease;
}
body.open-nav .navigation .nav-bar .nav-btn {
  transform: scale(0);
}
@media(min-width: 600px) {
  .nav-bar .nav-content ul {
    width: 60px;
  }
  .navigation .nav-bar .nav-btn {
    display: none;
  }
}